*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  overflow: hidden;
}

img{
  width: 100%;
}

.container{
  width: 98%;
  max-width: 1800px;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

header, main{
  background-color: black;
}

/* header */

header{
  height: 80px;
}

header .view-mode{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 15px;
}

header .view-mode .view-buttons{
  display: inline-block;
  padding: 5px;
  margin: 5px 2px;
  border-radius: 7px;
  font-size: 12px;
  background-color: #4a4a4a;
}

/* main */

main{
  height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
}

main .container.d-flex{
  margin-bottom: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

main .container.d-flex .image{
  width: 250px;
  height: 150px;
  margin: 0 3px 15px;
  position: relative;
}

main .container.d-flex .image span{
  display: inline-block;
  padding: 7px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: .8rem;
  background-color: rgba(0,0,0,.3);
}

/* footer */

footer{
  height: 80px;
  background-color: #222222;
  justify-content: space-between;
  align-items: center;
}

footer .mic-webcam, footer .utilities{
  flex-shrink: 0;
}

footer .box{
  height: 80px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

footer .box.small-box{
  flex-direction: row;
  font-size: .8rem;
  font-weight: 900;
}

footer .box .symbol{
  font-size: 2rem;
}

footer .box .action{
  font-size: .9rem;
  padding-top: 5px;
}

footer .utilities{
  justify-content: center;
}

footer .utilities .symbol.active{
  color: rgb(73, 199, 0);
}

footer .quit{
  height: 80px;
  padding: 0 15px;
  font-size: .9rem;
  align-items: center;
  background-color: rgb(74, 74, 74);
  color: red;
}

footer .box:hover,
footer .box.small-box:hover,
footer .quit:hover{
  cursor: pointer;
  color: lightgray;
}